<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Led Web Controller</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='picnic.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
<div class="flex">
<div class="flex three-1200 center">
    <div class="flex two-1000 one">
        <article class="full card">
            <header>
                <h3>ZASILANIE</h3>
                <button class="right error" id="power-button">Off</button>
            </header>
        </article>
        <article class="full card">
            <header>
                <h3>Kolory</h3>
            </header>
            <footer id="colors">
                <button class="red">CZERWONY</button>
                <button class="orange">POMARAŃCZOWY</button>
                <button class="yellow">ŻÓŁTY</button>
                <button class="green">ZIELONY</button>
                <button class="light-blue">JASNO NIEBIESKI</button>
                <button class="blue">NIEBIESKI</button>
                <button class="purple">FIOLETOWY</button>
                <button class="pink">RÓŻNOWY</button>
            </footer>
        </article>
        <article class="full card">
            <header>
                <h3>TRYBY</h3>
            </header>
            <footer id="modes">
                <button class="fade">ŁAGODNE PRZEJŚĆIE</button>
                <button class="in-out">PULSACJA</button>
                <button class="simple-change">PROSTE PRZEJSCIE</button>
            </footer>
        </article>
        <article class="card">
            <header>
                <h3>JASNOŚĆ</h3>
                <h2 class="right" id="brightness-output">0</h2>
            </header>
            <footer>
                <input type="range" id="brightness-input" min="10" max="100" step="10">
            </footer>
        </article>
        <article class="card">
            <header>
                <h3>SZYBKOŚĆ</h3>
                <h2 class="right" id="speed-output">0</h2>
            </header>
            <footer>
                <input type="range" id="speed-input" min="1" max="5" step="1">
            </footer>
        </article>
    </div>
</div>
</div>

<script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>