.right{
    float: right;
    text-align: right;
}

.red{
    background: red;
}

.red-on{
    background: darkred;
}

.orange{
    background: orange;
}

.orange-on{
    background: darkorange;
}

.yellow{
    background: yellow;
}

.yellow-on{
    background: black;
}

.green{
    background: green;
}

.green-on{
    background: darkgreen;
}

.light-blue{
    background: lightblue;
}

.light-blue-on{
    background: black;
}

.blue{
    background: blue;
}

.blue-on{
    background: black;
}

.purple{
    background: purple;
}

.purple-on{
    background: black;
}

.pink{
    background: pink;
}

.pink-on{
    background: black;
}

.fade-on{
    background: black;
}

.aabb-on{
    background: black;
}

.ccdd-on{
    background: black;
}